.main {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    padding: 5px;
    background: rgba(251, 250, 250, 0.5);
}

.main__header,
.main__content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main__header {
    align-items: center;
}

.main__header_title {
    margin-bottom: 0;
    font-family: Book Antiqua, 'sans-serif';
    font-size: 60px;
    text-align: left;
    color: #1592E6;
}

.main__header_subtitle {
    font-family: Lucida Sans, 'sans-serif';
    font-style: italic;
    font-size: 20px;
}

.main__btn {
    padding: 15px;
    display: flex;
    align-items: center;
    border: #1496E7 solid 2px;
    border-radius: 5px;
    font-size: 20px;
    color: #2185C4;
    background: transparent;
    outline: none !important;
}

.main__img-vision {
    width: 36px;
    margin-right: 20px;
}

.main__background-img {
    position: fixed;
    right: 5%;
    width: 36vw;
    min-width: 300px;
}

.main__header_title.wb,
.main.wb,
.wb {
    color: black !important;
}

.main.wb {
    background: rgba(251, 250, 250, 0.7) !important;
}

@media screen and (max-width: 1000px) {
    .main__background-img {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .main__img-vision {
        margin-right: 0;
    }

    .main__btn-text {
        display: none;
    }
}
