.App {
  text-align: center;
  background: url("../../assets/images/background.svg") repeat;
  background-size: 8%;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 10px;
}

.credits {
  opacity: 0.1;
  background: rgba(250,250,250,0.5);
  position: fixed;
  bottom: 0;
  left: 5%;
  font-size: 12px;
  color: grey;
}

.credits a {
  text-decoration: none;
  color: grey;
}
