.author {}

.author__title {
    font-size: 26px;
}

.author__sing-box {
    margin-left: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.author__title-sing {
    width: 60%;
    font-size: 24px;
    color: #1592E6;
}

.author__reader {
    font-size: 18px;
}

.author__title-sing,
.author__reader,
.author__place {
    margin: 0 0 5px;
}

.author__place {
    font-size: 14px;
    color: #9F9D9D;
}

.author__audio {
    width: 35vw;
    min-width: 400px;
    outline: none;
}

.pen {
    margin-right: 20px;
}

.author__title.wb,
.author__title-sing.wb {
    font-size: 40px;
}

.author__reader.wb {
    font-size: 24px;
}

.author__place.wb {
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .author__title.wb,
    .author__title-sing.wb {
        font-size: 30px;
    }

    .author__reader.wb {
        font-size: 24px;
    }

    .author__place.wb {
        font-size: 18px;
    }

    .author__audio {
        width: 80%;
        min-width: auto;
    }
}
