.accordion {
  margin: 0 auto;
}

.accordion__title {
  width: 70%;
  display: flex;
  align-items: baseline;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: left;
}

.accordion__title::after {
   font-size: 18px;
   color: white;
   transition: transform .5s ease-in-out;
   position: absolute;
   right: 30px;
   font-family: monospace;
}

.accordion__title.is-expanded {
  transition: background .5s;
}

.accordion__title.is-expanded::after {
   transform: rotate(-360deg);
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s;
  margin: 0;
  padding: 0 20px;
}

.accordion__content > div {
  padding: 10px 0;
  margin: 0;
  opacity: 0;
  transition: .5s;
}

.accordion__content.is-expanded {
  max-height: none;
  overflow: hidden;
}

.accordion__content.is-expanded > div {
  opacity: 1;
}

.accordion:after {
   width: 100%;
   height: 10px;
   display: block;
   content: '';
}
